@page "/"
@using ml_test.services

@inject TemplateMatchService TemplateMatchService

<PageTitle>Index</PageTitle>

<div class="main-container">
    <div class="header">
        <h3>Vision Detection</h3>
        <button @onclick="RunMatching">Run Matching</button>
    </div>


    <div class="content">
        @if (imageSrc != null)
        {
            <div class="image-container">
                <img id="mainImage" src="@imageSrc" onload="drawOverlayFromBlazor()" style="max-width:100%;" />
                <canvas id="overlayCanvas"></canvas>
            </div>
        }
    </div>
</div>
@code {
    string imageSrc;
    List<MatchResult> matches;

    async Task RunMatching()
    {
        TemplateMatchService.test();
        //var (bytes, detected) = TemplateMatchService.RunMatch();
        // imageSrc = $"data:image/png;base64,{Convert.ToBase64String(bytes)}";
        // matches = detected;
        
        StateHasChanged();

        // Vänta tills bilden laddats i DOM innan canvas ritas
        //await Task.Delay(100);
        //await JS.InvokeVoidAsync("storeMatches", matches);
    }

    [Inject]
    IJSRuntime JS { get; set; }

}